<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 南京茶书坊文化传播有限公司版权所有 2019 - 2022.
  -->
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>Application</contextName>
    <property name="CONSOLE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss} | [%thread] - %highlight(%-5level) | %contextName | %boldYellow(%thread) | %boldGreen(%-50logger) | %msg%n"/>

    <property name="logPath" value="logs" />
    <property name="logFile" value="Application" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${logFile}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${logFile}.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
